.input_valor{
    width: 300px;
    text-align: center;
    margin-right: 10px;
}

.form_calc{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enviar_form{
    margin-top: 10px;
    border-radius: 25px;
    height: 30px;
    width: 100px;
    font-size: 15px;
    font-weight: 600;
    background-color: black;
    border: 1px solid white;
    color: white;
}
.enviar_form:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px white ;
}

.reset{
    display: flex;
    background-color: black;
    border: 1px white solid;
    font-weight: 700;
    color: white;
    width: 100px;
    justify-content: center;
    align-items: center;
    height: 30px;
}
.reset:hover{
    cursor: pointer;
    box-shadow: 1px 1px 5px white ;
}
h2{
    color: white;
}