.tabela{
    width: 95vw;
    margin: 45px auto;
}

.cabeçalho-tabela{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.cabeçalho-tabela li{
    width: calc(95vw/7);
    border: 1px solid white;
    padding: 5px 50px 5px 50px;
    background-color: black;
    color: white;
}

.corpo-tabela{
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.corpo-tabela li{
    text-align: center;
    background-color: black;
    color: white;
    
    width: calc(95vw/7);
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 5px 50px 5px 50px;
}