.products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

.products li{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin: 0 10px;
    width: 25%;
}